<!DOCTYPE html>
<html>

<head>
	<title>About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/main.css">
	<script src="../js/main.js"></script>

	<script>
		const STUDENT = {
			name: "Iasonas",
			last_name: "Karanikolas",
			age: 15,
			tel_number: "+3069",
			introduce: function () { console.log(`My full-name is ${this.name} ${STUDENT.last_name}, I'm ${STUDENT.age} years old and my telephone number is ${STUDENT.tel_number}`); }
		}
	</script>
</head>

<body>
	<div class="topnav" id="topnav"></div>
	<div style="padding-left: 16px">
		<div style="display: flex; align-items: center; justify-content: center;">
			<center>hi</center>
			
		</div>
	</div>
</body>

</html>