<!DOCTYPE html>
<html>

<head>
	<title>School</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/main.css">
	<script src="../js/main.js"></script>
</head>

<body>
	<div class="topnav">
		<a href="/">Home</a>
		<a class="active" href="/views/school.html">School</a>
	</div>
	<div style="padding-left:16px">
		<div style="display: flex; align-items: center; justify-content: center;">
			<div>
				<h1>Ειδικότητες</h1>
				<ul>
					<li>Υγέια</li>
					<ol>
						<li>Αισθητική</li>
						<li>Βρεφοκομείο</li>
					</ol>
					<li>Πληροφορική</li>
					<ol>
						<li>Τεχνικός Δίκτυον</li>
						<li>Προγραμματιστής</li>
					</ol>
				</ul>
			</div>
			<br>
			<div style="float: left; margin:20px; height: 400px; width: 400px;">
				<iframe width="400" height="400"
					src="https://maps.google.com/maps?q=2%CE%BF%20%CE%95%CE%A0%CE%91%CE%9B%20%CE%A7%CE%B1%CE%BB%CE%B1%CE%BD%CE%B4%CF%81%CE%AF%CE%BF%CF%85,%20%CE%88%CE%BB%CE%BB%CE%B7%CF%82%203,%20%CE%A7%CE%B1%CE%BB%CE%AC%CE%BD%CE%B4%CF%81%CE%B9%20152%2032&t=&z=15&ie=UTF8&iwloc=&output=embed"
					frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
			</div>
		</div>
		<div style="display: flex; align-items: left; justify-content: left;">
			<a href="http://2epal-chalandr.att.sch.gr/">School website</a>
		</div>
	</div>
</body>

</html>